$primary: #ed1e79;
$secondary: #29abe2;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary
);

// basics
$black: #091f29;
$white: #fff;
$gray: #5f5a5a;
$gray2: #777;

$gray-dark: darken($gray, 20%);
$gray-light: lighten($gray, 40%);

$primary-dark: darken($primary, 30%);
$secondary-dark: darken($secondary, 20%);
$secondary-light: lighten($secondary, 30%);

@import "../../node_modules/bootstrap/scss/bootstrap";
