@import '../../stylesheet/variables.scss';

.solution {
  background-color: $gray-light;
  padding: 15px;
  margin: 15px 0;
  display: block;
  & > span {
    color: $gray;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  img {
    width: 32px;
    margin-right: 10px;
  }

  .content {
    margin-top: 30px;
  }
}
