@import "../../stylesheet/variables";

.navbar-custom {
  background-color: $gray-dark !important;
  min-height: 80px;

  .navbar-brand {
    color: $secondary !important;
  }

  a:hover {
    color: $primary !important
  }
}
