@import '../../stylesheet/variables';

$footer-height: 100px;

.footer {
	background-color: $gray-light;
	padding: 30px;
	height: $footer-height;
	position: absolute;
	left: 0;
	bottom: 0;
	width:100%;
}

.footer p {
	text-align: center;
	color: $black;
}

.footer-placeholder {
	display: hidden;
	width:100%;
	height: $footer-height;
}