@import "stylesheet/variables.scss";

@import url("https://fonts.googleapis.com/css?family=Open+Sans");

body {
    color: $black;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    position: relative;
}

section {
    padding: 0 0 40px;
    @include media-breakpoint-up(md) {
        padding: 80px 0;
    }


    .title {
        font-size: 2em;
    }
}

h1 {
    font-size: 2.4em;
    margin: 20px 0 10px;
}

h2 {
    font-size: 1.8em;
    margin: 20px 0 10px;
}

h3 {
    font-size: 1.2em;
    margin: 15px 0 10px;
}

h4 {
    font-size: 1.1em;
    margin: 15px 0 10px;
}
