@import '../../stylesheet/variables';

.gitlink {
    background-color: $gray-light;
    padding: 10px;
    margin: 15px 0;
    display:block;
    a {
        color: $gray;
    }
    img {
        width: 32px;
        margin-right: 10px;
    }
}